#degender-bar {
  background: linear-gradient(170deg, #89c8c9, #ef8594);
  width: 100%;
  color: #333;
  position: relative;
  top: 0;
  left: 0;
  z-index: 500;
  box-sizing: border-box;
}

#degender-bar .color-top {
  padding: 1rem;
}

#degender-bar h1 {
  font-family: "Telefon Black", Sans-Serif;
  padding: 0;
  margin-top: 0;
}

#degender-bar.hide {
  display: none;
}

#degender-bar .buttons {
  display: flex;
  justify-content: space-between;
}

#degender-bar button {
  cursor: pointer;
  background: #555;
  border-radius: 4px;
  color: #fff;
  text-shadow: none;
  border: 0!important;
  font-size: 12pt;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  box-shadow: none;
  line-height: 1rem;
  transition: background-color .2s ease;
}

#degender-bar button:hover:enabled {
  background: #333;
  border: 0;
  transition: background-color .2s ease;
}

#degender-bar button:active:enabled {
  background: #ccc;
  color: #333;
}

#degender-bar button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

/***********Content Styles***********/
.active-converted {
  background: #bc93cd;
  border-radius: 4px;
  padding: 0 .25rem;
}

#degender-wrapper {
  position: relative;
}

/***********Spinner Styles***********/
#spinner-overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(22,22,22, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: #eee;
  text-align: center;
}

#spinner-overlay .svg-cont {
  height: 200px;
  width: 200px;
}

#spinner-overlay svg {
  position: relative;
  top: 50%;
  left: 50%;
  overflow: visible;
}

#spinner-overlay svg circle {
  fill: #eee;
  position: absolute;
}