#degender-bar {
  background: linear-gradient(170deg, #89c8c9, #ef8594);
  width: 100%;
  padding: 1rem;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  box-sizing: border-box;
}

#degender-bar h1 {
  font-family: "Telefon Black", Sans-Serif;
  padding: 0;
  margin-top: 0;
}

#degender-bar.hide {
  display: none;
}

#degender-bar .buttons {
  display: flex;
  justify-content: space-between;
}

#degender-bar button {
  cursor: pointer;
  background: #555;
  border-radius: 4px;
  color: #fff;
  text-shadow: none;
  border: 0!important;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  box-shadow: none;
  line-height: 1rem;
  transition: background-color .2s ease;
}

#degender-bar button:hover {
  background: #333;
  border: 0;
  transition: background-color .2s ease;
}

#degender-bar button.active {
  background: #ccc;
  color: #333;
}

.active-converted {
  background: #bc93cd;
  border-radius: 4px;
  padding: 0 .25rem;
}
