* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: #555 3px solid;
}

#popup-box {
  width: 20rem;
  background: linear-gradient(170deg, #89c8c9, #ef8594);
}

#popup-box .button-box {
  padding: 2rem;
  text-align: center;
}

#degender-button {
  margin: auto;
}

#popup-box a {
  color: #333;
}

#popup-box button {
  cursor: pointer;
  background: #555;
  border-radius: 4px;
  color: #fff;
  text-shadow: none;
  border: 0!important;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  box-shadow: none;
  line-height: 1rem;
  transition: background-color .2s ease;
}

#popup-box button:hover {
  background: #333;
  border: 0;
  transition: background-color .2s ease;
}

#popup-box ul.bottom {
  width: 100%;
  background-color: red;
  list-style: none;
  padding: 0;
  margin: 0;
}

#popup-box ul.bottom li{
  display: block;
  width: 50%;
}


